@model IEnumerable<LibraryManagmentSystem.Domain.Entities.Book>

@{
    ViewData["Title"] = "Member Dashboard";
}

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>
                    <a asp-action="MemberBookDetails" asp-route-id="@book.Id">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
