@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
           
            <p>
                At Library Management System, we are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and protect your personal information when you use our Library Management System .
            </p>

            <h3> Information We Collect</h3>
            <p>We may collect the following types of information:</p>
            <ul>
                <li><strong>Personal Information:</strong> When you register for an account, we collect personal information such as your name, email address, phone number, and membership details.</li>
                <li><strong>Usage Data:</strong> We collect information about how you access and use the Service, including your IP address, browser type, pages visited, and time spent on the Service.</li>
                <li><strong>Cookies:</strong> We may use cookies and similar tracking technologies to enhance your experience and collect information about your interactions with the Service.</li>
            </ul>

            <h3>How We Use Your Information</h3>
            <p>We use the collected information for various purposes, including:</p>
            <ul>
                <li>To provide and maintain our Service.</li>
                <li>To allow you to participate in interactive features when you choose to do so.</li>
                <li>To provide customer.
