@model LibraryManagmentSystem.Application.Commands.MemberCommands.UpdateMemberCommand

@{
    ViewBag.Title = "Edit Member";
    Layout = "_LayoutWithoutNavBar";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/edit-member.css" />
</head>
<body>
    <div class="container">
        <h2 class="text-center mb-4">Edit Member Details</h2>

        <div class="card">
            <div class="card-header">
                <i class="bi bi-person-edit"></i> Edit Member
            </div>
            <div class="card-body">
               <form asp-action="Edit" method="post">
                    <input type="hidden" name="_method" value="PUT" />
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ContactNumber" class="form-label"></label>
                        <input asp-for="ContactNumber" class="form-control" placeholder="ContactNumber" />
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfMembership" class="form-label"></label>
                        <input asp-for="DateOfMembership" class="form-control" placeholder="DateOfMembership" />
                        <span asp-validation-for="DateOfMembership" class="text-danger"></span>
                    </div>


                    <div class="form-group text-center">
                        <input type="submit" value="Save Changes" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
