/* custom.css */

.book-nav-bar {
    background-color: #343a40; /* Change this to your desired background color */
}

    .book-nav-bar .nav-link {
        color: #ffffff; /* Change this to your desired text color */
    }
 .book-nav-bar .nav-link:hover {
            color: #ffcc00; /* Change this to your desired hover text color */
        }
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
    }


/*member*/

.member-nav-bar {
    background-color: #343a40;
    
}
    .member-nav-bar .nav-link {
        color: #ffffff; /* Change this to your desired text color */
    }

        .member-nav-bar .nav-link:hover {
            color: #ffcc00; /* Change this to your desired hover text color */
        }

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
    }
